@font-face {
  font-family: "Lora";
  src: url('/server/public/css/font/Lora-Regular.ttf') format('truetype'),
       url('/server/public/css/font/Lora-Bold.ttf') format('truetype'),
       url('/server/public/css/font/Lora-BoldItalic.ttf') format('truetype'),
       url('/server/public/css/font/Lora-Italic.ttf') format('truetype'),
       url('/server/public/css/font/Lora-Medium.ttf') format('truetype'),
       url('/server/public/css/font/Lora-MediumItalic.ttf') format('truetype'),
       url('/server/public/css/font/Lora-SemiBold.ttf') format('truetype'),
       url('/server/public/css/font/Lora-SemiBoldItalic.ttf') format('truetype');
}
body{
  background: #ffffff;
  max-width: 592mm;
  height: 895mm;
  color: black;
  font-family: 'Lora';
  overflow: hidden;

}
.nocursor {
  cursor: none;
}

p {
  display: inline; 
  text-align: left;
  padding: 0.3em;
 
}

#textbox {
  word-wrap:break-word;
  position: relative; 
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  font-family: 'Lora';
  box-sizing: border-box;
  max-width: 592mm;
  height: 100vh;
  overflow: hidden;
  padding: 5em 2em;
}

footer {
  font-family: 'Lora';
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  padding: 3em;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; /* Centrage du texte à l'intérieur */

}

#print-counter {
  font-family: 'Lora';
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  padding: 3em;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; /* Centrage du texte à l'intérieur */
}

#print-counter::before {
    content: "[ ";
}

footer::before {
  content: "[ ";
}

#print-counter::after {
  content: " ] ";
}

footer::after {
  content: " ] ";
}
