
@page {
    /* size: 54mm 101mm; */
    size: 54mm 101mm;
    margin: 1cm 3mm;
    @top-center{
      content: element(fragmentcounter)
    }
    @bottom-center{
      content: "[PALIMPSESTE]";
    }
}



body {
    display: block !important;
    margin: 0 !important;
    padding: 0;
    font-size: 6pt;
    margin: 0 !important;
    position: relative;
    overflow: auto;
}

#print-counter {
    font-family: 'Lora';
    font-size: 1em;
    /* color: rgba(0, 0, 0, 0.6); */
    text-align: center; /* Centrage du texte à l'intérieur */
    color: rgba(0, 0, 0, 1);
    padding: 0;
    position: static;
    transform: none;
    text-align: center;
    /* pagedjs */
    position: running(fragmentcounter);    
}



#textbox {
    word-wrap: break-word;
    position: relative;
    margin: 0  !important;
    background-color: rgb(255, 255, 255);
    font-family: 'Lora';
    overflow: hidden;
    padding: 0  !important;
}